.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
    display: inline-block;
}

.marginY10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navLink {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navLinkActive {
    text-decoration: none;
    color: blue;
}
